<!DOCTYPE html>
<html>
    <head>
        <title>영화어때?</title>
        <link rel='stylesheet' href='./../style/join.css'/>
    </head>
    <body>
        <div id="nav_menu" class="abc">
            <ul>
                <li id="apply"><a href="/login">로그인</a></li>
                <li id="main"><a href="/join">회원가입</li>
                <li id="name"><a href="/myPage">마이페이지</a></li>
            </ul>
        </div>
        <div id="headBox">
            <div id="abs">
                <h1>영화어때</h1>
                <ul>
                    <li id="place">영화관</li>
                    <li id="movie">영화</li>
                    <li id="ticket">영화예매</li>
                </ul>
            </div>
        </div>
        <div id="desi">회원가입</div>
        <div id="loginForm">
            <input type="id" id="ex_input" placeholder="아이디">
            <input type="pw" id="ex_input" placeholder="비밀번호">
            <input type="pwch" id="ex_input" placeholder="비밀번호확인">
            <input type="name" id="ex_input" placeholder="이름">
            <input type="name" id="ex_input" placeholder="생년월일 ( ' - ' 사용)">
            <input type="pnum" id="ex_input" placeholder="전화번호">
            <button id="joinch">회원가입</button>
        </div>
    </body>
</html>
