<!DOCTYPE html>
<html>
    <head>
        <title>영화어때?</title>
        <link rel='stylesheet' href='./../style/movieBook.css' />
    </head>
    <body>
        <div id="nav_menu" class="abc">
            <ul>
                <li id="apply"><a href = "/login">로그인</a></li>
                <li id="main"><a href = "/join">회원가입</a></li>
                <li id="name"><a href="/myPage">마이페이지</a></li>
            </ul>
        </div>
        <div id="headBox">
            <div id="abs">
                <h1>영 화 어 때</h1>
                <ul>
                    <li id="place">영화관</li>
                    <li id="movie">영화</li>
                    <li id="ticket">영화예매</li>
                </ul>
            </div>
        </div>
        
        <div id="book">
            <div id="rankBox">
                <div id="desi">영화</div>
                <div id="movieForm">
                    <img src="./../image/bell.png" alt="bell.png" class="bell">
                </div>
            </div>
            <div id="rankBox">
                <div id="ddesi">극장</div>
                <div id="movietForm">
                   
                </div>
            </div>
            <div id="rankBox">
                <div id="ddesi">날짜</div>
                <div id="dateForm">
                   
                </div>
            </div> 
            <div id="rankBox">
                <div id="ddesi">요일</div>
                <div id="dayForm">
                    
                </div>
            </div>            
            
        </div>       

    </body>
</html>