<!DOCTYPE html>
<html>
    <head>
        <title>영화어때?</title>
        <link rel='stylesheet' href='./../style/movieTeacher.css' />
    </head>
    <body>
        <div id="nav_menu" class="abc">
            <ul>
                <li id="apply"><a href = "/login">로그인</a></li>
                <li id="main"><a href = "/join">회원가입</a></li>
                <li id="name"><a href = "/myPage">마이페이지</a></li>
            </ul>
        </div>
        <div id="headBox">
            <div id="abs">
                <h1>영 화 어 때</h1>
                <ul id="white">
                    <li id="place"><a href = "/movieTeacher">영화관</a></li>
                    <li id="movie"><a href = "/">영화</a></li>
                    <li id="ticket"><a href = "/movieBook">영화예매</a></li>
                </ul>
            </div>
        </div>
        
        <div id="mt">
            <div id="moviet">
                <div id="movietheaterForm">
                    <img src="./../public/image/bell.png" alt="bell.png" class="bell">
                </div>
            </div>
            <div id="moviet">
                <div id="desi">영화관위치</div>
                <div id="movieForm">
                    <img src="./../public/image/bell.png" alt="bell.png" class="bell">
                </div>
            </div>
        </div>
    </body>
</html>