<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <Title>Let's Movie</Title>
    </head>
    <body>
        <h1>Login Page</h1>
        <h3>로그인</h3>
        <form>
            <p>ID <input type="text" name='id'></p>
            <p>PW <input type="text" name="pw"></p>
            <input type="submit">
        </form>
    </body>
</html>