<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8">
        <title>Let's Movie</title>
    </head>
    <body>
        <h1> Sing Up page </h1>
        <h3>Sign Up</h3>
        <form method="POST">
            <p>ID : <input type=text name=id></p>
            <p>PW : <input type=password name=password></p>
            <p>NAME : <input type=text name=name></p>
            <p>AGE : <input type=text name=age></p>
            <p><input type="submit" value="Sing Up"></p>
        </form>
    </body>
</html>
